//=======variable
//圓角
$radius: (
	basic: 5px,
);

//字體顏色
$fontColor: (
   primary: #256298,
   menu: #c1edff,
   table: #666666
);

//元素背景色(不包含按鈕)
$elBgColor: (
   menu: #c1edff,
   hover: #256298,
   title: #eeeeee,
   sideBar: #f3ba42
);

//按鈕背景色
$btnBgColor:(
   weather:#46b8da,
   fb: #2e6da4
);

//邊框顏色
$borderColor: (
   primary: #256298,
   title: #eeeeee,
   menu: #c1edff,
   list: #ddd
);

//======extand
%centerFlex {
   display: flex;
   justify-content: center;
   align-items: center;
}

%bwtFlex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

%posCenter {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

%hideTxt {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

%resetForm {
   appearance: none;
}

%clearFix {
   &:after {
      content: '';
      display: block;
      clear: both;
   }
}

%imageSize {
   display: block;
   width: 100%;
   height: auto;
}

//========mixin
@mixin size($w, $h:$w) {
   width: $w;
   height: $h;
}

@mixin basicSize($w, $h) {
   min-width: $w;
   min-height: $h;
}

//指有margin padding能用
@mixin elGutter($key, $value) {
   #{$key}: $value;
   &:last-child {
      #{$key}: 0;
   }
}