#topBlock {
	position: relative;
	min-height: 380px;
	background-size: cover;
   background-repeat: no-repeat;
   @for $i from 1 through 5 {
      &.banner#{$i} {
         background-image: url("/img/blockBg/pageBanner#{$i}.jpg");
      }
   }
}

#menu {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   >#menuCenter {
      display: flex;
      padding: 0;
      background-color: map-get($elBgColor, menu);
      border-radius: 5px;
      >* {
         flex: 1;
         height: 50px;
      }
      >a {
         color: map-get($fontColor, primary);
         text-align: center;
         line-height: 50px;
         &:hover {
            color:  map-get($fontColor, menu);
            background-color: map-get($elBgColor, hover);
         }
      }
   }
}

#sideBarCenter {
   display: flex;
   align-items: flex-start;
}

#sideBar {
   flex: 0 0 250px;
   min-height: 200px;
}

#pageContent {
   width: calc(100% - 250px);
   padding-left: 0px;
   &.fullWidth {
      width: 100%;
   }
   &.hasPadding {
      padding-left: 35px;
   }
}



