.topBlock {
	position: relative;
	min-height: 380px;
	background-image: url("/img/blockBg/bg1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#sideBarCenter {
   display: flex;
   align-items: flex-start;
}

#sideBar {
   flex: 0 0 250px;
   min-height: 200px;
}

#pageContent {
   flex: 1;
   padding-left: 0px;
   &.hasPadding {
      padding-left: 50px;
   }
}



