%align {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.defaultHeader {
   padding: 15px;
}

.defaultCenter {
   display: flex;
   align-items: flex-start;
}

.logoBox {
   flex: 0 0 250px;
}

.navWrap {
   flex: 1;
}

.guideTop {
   @extend %align;
   margin-bottom: 27px;
   &.layout {
      >a {
         color: #fff;
      }
   }
   >* {
      @include elGutter(margin-right, 20px);
   }
   >.searchBox {
      position: relative;
      >.form-control {
         @include size(150px, 36px);
         padding-left: 30px;
         border-radius: 100px;
         background-color: #ededed;
         transition: width 0.5s, background-color, 0.5s;
         &::placeholder {
            font-size: 16px;
         }
         &:focus {
            width: 180px;
            background-color: #fff;
         }
      }
      >i {
         position: absolute;
         left: 10px;
         top: 10px;
         color: gray;
      }
   }
   >a {
      color: map-get($fontColor, primary);
   }
}

.guideBottom {
   @extend %align;
}
