.mysection {
   padding-top: 30px;
}

//置中區塊
.mycontainer {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

//表單layout
.formLayout {
   >.formRow {
      @extend %clearFix;
      @include elGutter(margin-bottom, 25px);
      >* {
         float: left;
      }
      >.formTitle {
         width: 70px;
         padding-top: 10px;
         text-align: center;
      }
      >.formContent {
         width: calc(100% - 70px);
      }
   }
   &.vertical {
      >.formRow {
         >* {
            float: none;
         }
         >.formTitle {
            width: 100%;
            padding-top: 0px;
            margin-bottom: 10px;
            text-align: left;
         }
         >.formContent {
            width: 100%;
         }
      }
   }
   &.flex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      >.formRow {
         margin-right: 15px;
         margin-bottom: 0;
         >.formContent {
            width: 180px;
            .form-control {
               height: 40px;
            }
         }
      }
   }
}

//按鈕外層
.btnBox {
   &.center {
      text-align: center;
   }
   &.right {
      text-align: right;
   }
   &.space_bwtween {
      display: flex;
      justify-content: space-between;
      >button,
      >a {
         width: 48%;
         margin-right: 0;
      }
   }
   >* {
      @include elGutter(margin-right, 8px);
   }
   >button,
   >a {
      @include basicSize(100px, 40px);
   }
   >a {
      line-height: 40px;
   }
}

//表單錯誤樣式
.validate-error {
   color: red;
   @include pxToRem(16);
   margin-top: 3px;
}